body {
    margin:0;
    padding:0;
    font-family: Plus Jakarta Sans;
}

.container{
    width:87%;
    margin:auto;
}

.vkflex{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin:auto;
}

.vkbg{
    background: #E9F1FF;
    border-radius: 8px;
    height: 100px;
    margin-top:35px;
    padding-top:2.5px;
    padding-left:30px;
    padding-right:30px;
    padding-bottom:2.5px;
}

.vk h1{
   font-Weight:750;
   font-Size:22px;
   Line-height:40px;
   color:#001D4B;
}

.fa-solid fa-arrow-right{
    font-weight:300;
    font-size:300px;
}

.vk p{
margin-top:-8px;
font-weight: 400;
font-size: 16px;
line-height: 28px;
color: #001D4B;
 }

 /* Wallet balance styling */
 
 .wb{
    text-align:center;
 }

 .wb h1{
    font-style: normal;
font-weight: 500;
font-size: 28px;
line-height: 48px;
color: #000000;
 }

 .wb p{
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 78px;
    text-align: center;
    margin-top:-18px;
    color: #001D4B;
 }

 .wbbg{
    background: #E9F1FF;
    border-radius: 8px;
    height: 100px;
    margin-top:35px;
    padding-top:25px;
    padding-left:30px;
    padding-right:30px;
    padding-bottom:75px;
}

/* Card */

.cardflex{
    display:flex;
    margin-top:40px;
    justify-content:space-between;
}

.cardflex img{
   width:90px;
}

/* .pink{
    
padding-top:1px;
padding-bottom:30px;
background: #FFD8C2;
border-radius: 8px;
flex-basis:50%;
} */

.pink {
    /* padding-bottom: 30px; */
    background: #FFD8C2;
    border-radius: 8px;
    /* flex-basis: 29%; */
    width:27%;
    /* padding-bottom: 5px; */
    padding-left: 25px;
    padding-right: 29px;
    height: 200%;
    margin-bottom:50px;
    padding-bottom:30px;
}

#blue{
    background:#DDEDE8;
}

#blue h2{
    color:#154F3D;
    font-weight:800;
}

#grey{
    background:#FFF5D8;
}

#grey h2{
    color:#423309;
    font-weight:800;
}

.cardtext{
    margin-top:-40px;
}

.cardtext h2{
   font-Weight:700px;
   font-Size:22px;
   color:#441D07;
}

.cardtext p{
    margin-top:-10px;
    margin-bottom:0px;
    padding-top:0px;
    padding-bottom:0px;
    font-Size:15px;
    Line-height:28px
}

/* Transaction styliing */
.thead{
    display:flex;
    justify-content: space-between;
    background:#EFF0F4;
    padding-left:100px;
    padding-right:100px;
    align-items:left;
    text-align:left;
}

.theadtext h3{
    font-size:16px;
    font-Weight:400;
    font-Size:16px;
    align-items:left;
    color:#55545a;
    
}

#tht{
    flex-basis:15%;
}

/* Main transactions styling */

/* .cf{
    flex-basis:15%;
} */

.maintransactionsflex{
    display:flex;
    justify-content:space-between;
    padding-left:100px;
    padding-right:100px;
    margin-bottom:70px;
    align-items:left;
    text-align:left;
}

.maintransactionsflex h3{
    font-Weight:450;
    font-Size:16px;
    align-items:left;
    text-align:left;
}

.mainpopnavigationwithdraw{
    display:flex;
    align-items: center;
    /* justify-content:space-between; */
    width:100%;
    /* padding-left:40px; */
    padding-bottom:20px;
}

.mainpopuptextwithdraw h2 {
    font-Weight: 800;
    font-Size: 27px;
    Line-height: 48px;
    margin-left:20px;
    /* padding-top: 9px; */
    align-items: center;
    color: #47454C;
}

.inputflex{
    display:flex;
    margin:auto;
    width:17%;
    align-items:center;
    margin-left: 180px
}

.withdrawfigure input{
    outline: none;
    border:0;
    font-size:25px;
    font-weight:600;
    padding-right:25px;
    /* height:100px; */
    /* padding:50px; */
   overflow:visible;
   width: 100%;
    /* width: 20%;
    max-width: 80%;   */
}

.priceandcurrency{
    display:flex;
}

.withdrawcurrency img{
    width:40px;
}

.withdrawcurrency{
    align-items:center;
}

.withdrawcurrencyflex{
    display:flex;
    align-items: center;
}

 .ng{
    font-weight:200;
    font-size:14px;
    margin-top:-20px;
}

.withdrawfee{
    margin:auto;
    text-align:center;
    font-weight:700;
    font-size:16px;
    line-height:28px;
    color:#5D5C63;
    margin-top:30px;
    margin-bottom:180px;
}

.withdrawbtn{
    background:  #101628;
    border-radius: 8px;
    align-items: center;
    padding: 14px 20px;
    font-Weight: 700;
    font-size: 16px;
    Line-height: 32px;
    Align-items: Center;
    color: white;
    border: none;
    width: 100%;
    margin-top: 30px;
}

.coinflex{
    display:flex;
    align-items:center;
  
}

.coinflex img{
    width:30px;
}

.mybtc h3{
    margin-left:14px;
}

.mybtc{
    flex-basis:80%;
}


.mybtcstatus h3{
    margin-left:20px;
    font-size:14px;
    background: #FFEEED;
    border-radius: 17px;
    padding:10px;
}

#prc{
    margin-right:25px;
}

#td{
    margin-right:50px;
}

.ty{
    padding-right:27px;
}


/* Popup Modal */

.popupwithdraw {
    background: white;
    border-radius: 8px;
    /* flex-basis: 29%; */
    width:40%;
    /* left:350px; */
    /* top:100px; */
    /* padding-bottom: 5px; */
    padding-left: 50px;
    padding-right: 50px;
    position:absolute;
    /* height: 200%; */
    margin-bottom:50px;
    padding-bottom:40px;
    margin:auto;
    left:0;
    right:0;
    top:50px;
    /* height:80%; */
    /* z-index:10px; */
}

.popuppositionwithdraw{
    position:relative;
}

.popupwrapperwithdraw{
    width:100%;
    height:100vh;
    background: rgba(0, 0, 0, 0.10);
    position:fixed;
    top:0;
    left:0;
    justify-content: center;
    align-items:center;
    z-index:10px;
}

#blue{
    background:#DDEDE8;
}

#blue h2{
    color:#154F3D;
    font-weight:800;
}
